streamlit==1.42.0
pandas==2.3.3
numpy==2.3.3
gspread==6.2.1
google-auth==2.41.1
google-auth-oauthlib==1.2.2
google-auth-httplib2==0.2.0
requests==2.32.3
pydeck==0.9.1
plotly==6.3.1
geopy==2.4.1
scikit-learn==1.6.1
kneed==0.8.5
