streamlit==1.39.0
pandas==2.2.3
numpy==2.1.2
plotly==5.24.1
pydeck==0.9.1
Pillow>=10.3.0,<11.0
gspread==6.1.2
google-auth==2.35.0
geopy==2.4.1
scikit-learn==1.5.2
kneed==0.8.5
python-dateutil>=2.9.0
requests>=2.32.3
protobuf<5,>=3.20
